* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}


.menu {
    list-style: none;
    text-align: center;
    display: flex;
}

.menu__link {
    font-size: 1.5em; 
    display: block;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
}
.menu__link:hover {
    background: #6867ac;
    border-radius: 30px;
}

.head {
    background: rgba(25, 45, 146, 0.75);
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;
}

.logo {
    font-size: 2em;
    color:white;
    padding: 10px 20px;
    font-family: 'Arima Madurai', cursive;
    font-weight: 1500;
}

.carrito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
}

.carrito:hover {
    background: #6867ac;
    border-radius: 30px;
}

h2 {
    font-size: 3rem;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 20px;
    margin: 50px;
}


.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #6867ac;
    align-items: center;
    justify-content: center;
    font-family: 'Arima Madurai', cursive;
    background-color: #6867ac35;
}

.card h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}
.card h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    
}
.card p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: auto;
}
.count {
    font-size: 2rem;
}
.btn {
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 30px;
    background: #6867acae;
}
.btn:hover {
    background: #6867ac;
    border-radius: 30px;
}
.stock {
    font-size: 2rem;
    color: #6867ac;
}

.foot {
    flex-direction: column;
    font-size: 1.5em; 
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    width: 100%;
    bottom: 0;
    background: rgba(25, 45, 146, 0.75);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer__link { 
    font-size: 1.1em; 
    display: block;
    padding: 15px 40px;
    color: white;
    text-decoration: none;
}
.footer__list {
    display: flex;
    align-self: flex-end;
    text-align: center;
    list-style: none;
}